html {
	min-height: 100%;
	-webkit-transition-duration: 3s;
	-moz-transition-duration: 3s;
	transition-duration: 3s;
	background: #13223C;
}
body {
	background: transparent;
	margin: 0;
}

body, h1 {
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}


.container {
	margin: 100px;
	max-width: 1140px;
	color: #FFF;
}

h1 {
	font-size: 96px;
	line-height: 1em;
	margin: 0 0 .8em 0;
}

p {
	margin: 0 0 1em 0;
	font-size: 40px;
	line-height: 1.4em;
}

a {
	text-decoration: none;
	margin-left: 5px;
	border-bottom: 1px solid rgba(255,255,255,.4);
	color: #FFF;
	white-space: nowrap; // Prevent word break in link

	&:hover {
		color: #80DCFF;
	}
}



@media only screen and (max-width: 960px) {
	.container {
		margin: 50px;
	}
	h1 {
		line-height: 1.3;
		margin-bottom: 1em;
	}
	p {
		font-size: 25px;
		font-weight: 300;
		line-height: 1.6em;
	}
}