doctype html
html(lang='en')
	head
		title Nicklas Sandell
		meta(charset="utf-8")
		link(rel='stylesheet' media='all' href='css/style.css')
		link(rel="stylesheet" media='all' href="//fonts.googleapis.com/css?family=Roboto:100,300")
		link(rel='stylesheet' media="all" href='http://fonts.googleapis.com/css?family=Lato:100,300')
	body
		.container
			h1 My name is Nicklas Sandell, and i'm a Web developer.
			p You'll find my open source projects on <a href="https://github.com/nicklassandell/" class="github">Github</a>, my HTML doodles on <a href="http://codepen.io/nicklassandell/" class="codepen">Codepen</a> and my ramblings on <a href="http://blog.nicklassandell.se/">my blog</a>.
			p If you want to get in touch with me, you can tweet me at <a href="https://twitter.com/nicklassandell" class="twitter">@nicklassandell</a> or email me at <a href="#" class="email-link email"></a>.
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/FitText.js/1.1/jquery.fittext.min.js')
		script(src='js/script.js')